/*===========================================================


Universal Styling


==========================================================*/

* {
  margin:0;
  padding:0;
  border:0;
}

header {
  background: #88634F;
  padding: 10px;

}
header nav {
    display: inline-block;
    width: 45%;
    text-align: right;
    position: absolute;
    top: 40px;
}

header nav li {
      display: inline-block;
      margin: 0 15px;
      font-size: 16px;
      font-family: termina, helvetica;
      font-weight: bolder;
      color: white;
      text-transform:uppercase;
      text-decoration: none;
}

nav li a:hover {
      color: #fcb6ca;
}

nav {
      color: #ffffff;
      position: fixed;
      left: 520px;
    }

nav li a {
  color:#ffffff;
  text-decoration:none;
}

body {
      background-color:#a57e69;
}


h1  {
    font-size: 36px;
    font-family: lato;
    color: #fcb6ca;
    position: relative;
}

p {
    font-size: 18px;
    font-family: lato, sans-serif;
    font-weight: bold;
    color: white;
}
main {
  position: fixed;
}
      /*===========================================================

      Home Page Styling

      ==========================================================*/
.current {
      color: #fcb6ca;
      }

.logo {
          position: relative;
          left: 440px;
      }
.welcome {
    max-width: 365px;
    position: relative;
    top: 80px;
    left: 550px;
}
.hero {
    position: relative;
    height: 300px;
    left: 50px;
    bottom:180px;
}

.wrapper {
  min-height: 100%;
  min-width: 100%;
  background-color: #fcb6ca;
  position:fixed;
}

.box {
    position: relative;
    width: 257px;
    height: 396px;
    border-radius: 20px;
    background: #ffffff linear-gradient(360deg, #ffffff 22%, #fcb6ca 60%);
    float: left;
    filter: drop-shadow(0px 2px 2px #cd91a2);
    margin: 20px;
    left: 500px;
    top: 180px;
}

.column {
  position:relative;
  float: left;
  width: 33.33%;
  padding: 5px;
  margin 0 auto;
}

.chef, .model, .rapper {
    position: fixed;
    margin: -50px -6px;
    float: right;
    right: 6px;
}

.box-title {
    text-align: center;
    position: relative;
    bottom: 65px;
    font-family: termina, helvetica;
    font-weight: bolder;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffe8dd;
}

.blink {
    position: relative;
    left: 240px;
    animation: blinker 2s linear infinite;
    }
    @keyframes blinker {
      50% { opacity: 0; }
    }
    @keyframes blin {
      50% { opacity: 0; }
    }
