/*===========================================================


Universal Styling


==========================================================*/

* {
  margin:0;
  padding:0;
  border:0;
}

body {
  background-color:#a57e69;
  height: 2000px
}


h1 {
  font-size: 36px;
  font-family: lato;
  color: #fcb6ca;
}

p {
  font-size: 18px;
  font-family: lato, sans-serif;
  font-weight: bold;
  color: white;
}

.important {
  font-family: adobe-handwriting-ernie, sans-serif;
  font-size:28px;
  color:#fcb6ca;
  padding: 20px;
  float: right;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

/*===========================================================

Header Styling

==========================================================*/

header {
  padding: 10px;
  background-color:#88634f;
}

header .container {
    max-width: 1000px;
    margin: 0 auto;
}

header nav {
    display: inline-block;
    width: 65%;
    color: #ffffff;
    position: relative;
    top: -35px;
    padding-left: 45px;
    box-sizing: border-box;
}

header nav li {
  display: inline-block;
  margin: 0 15px;
  font-size: 16px;
  font-family: termina, helvetica;
  font-weight: bolder;
  color: white;
  text-transform:uppercase;
  text-decoration: none;
}

nav li a:hover {
  color: #fcb6ca;
}

nav li a {
  color:#ffffff;
  text-decoration:none;
}

.logo-container {
    display: inline-block;
    width: 30%;
    position: relative;
}

.bolt {
    position: absolute;
    left: 134px;
    top: 5px;
}

/*===========================================================

Home Page Styling

==========================================================*/

.container section {
    margin: 55px 0 90px 0;
    height: 398px;
}

.current {
  color: #fcb6ca;
}


.welcome {
  max-width: 375px;
}

.first {
  margin-bottom: 10px;
  font-size:43px;
}

.welcome-content {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.hero {
    display: inline-block;
    width: 49%;
}

.wrapper {
  min-height: 100%;
  min-width: 100%;
  background-color: #fcb6ca;
  position:fixed;
}

.box-links {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    top: -130px;
    text-align: center;
}

.box {
  position: relative;
  width: 26%;
  height: 355px;
  border-radius: 20px;
  background: #ffffff linear-gradient(360deg, #ffffff 22%, #fcb6ca 60%);
  filter: drop-shadow(0px 2px 2px #cd91a2);
  margin: 60px 20px 0px 20px;
  display: inline-block;
  max-width: 257px;
}

.box-links a {
    color: #ffe8dd;
    text-decoration: none;
}

.box-links a:hover {
    color: #fcb6ca;
}

img.trio {
    position: relative;
    margin: -90px;
    right: 8px;
}

.box-title {
  text-align: center;
  position: relative;
  bottom: 100px;
  margin-top:30px;
  font-family: termina, helvetica;
  font-weight: bolder;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffe8dd;
}

.jokes-container {
    text-align: center;
    height: 1350px;
    padding: 0 0 600px;
    background: #88634f;
    padding: 120px;
    border-top: 5px solid pink;
}

.answer {
    font-size: 18px;
    font-family: lato, sans-serif;
    font-weight: bold;
    color: #fcb6ca;
    padding: 40px;
}

h3.joke {
    font-size: 27px;
    font-family: lato;
    color: white;
}

.source-title {
    color: white;
    font-family: lato, sans-serif;
    font-size: 17px;
    padding: 0 10px;
}

h5.source {
    max-width: 800px;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 15px;
    color: pink;
    padding: 15px;
    border: 2px solid pink;
    border-radius: 15px;
}
