/*===========================================================


Universal Styling


==========================================================*/

* {
  margin:0;
  padding:0;
  border:0;
}

header {
  background: #88634F;
  padding: 10px;

}
header nav {
    display: inline-block;
    width: 45%;
    text-align: right;
    position: absolute;
    top: 40px;
}

header nav li {
      display: inline-block;
      margin: 0 30px;
      font-size: 17px;
      font-family: termina, helvetica;
      font-weight: bolder;
      color: white;
      text-transform:uppercase;
      text-decoration: none;
}

nav li a:hover {
      color: #fcb6ca;
}

nav {
      color: #ffffff;
      position: fixed;
      left: 470px;
    }

nav li a {
  color:#ffffff;
  text-decoration:none;
}

body {
      background-color:#a57e69;
}


h1  {
    font-size: 36px;
    font-family: lato;
    color: #fcb6ca;
    position: relative;
}

p {
    font-size: 18px;
    font-family: lato, sans-serif;
    font-weight: bold;
    color: white;
}
main {
  position: fixed;
}
      /*===========================================================

      Home Page Styling

      ==========================================================*/
.current {
      color: #fcb6ca;
      }

.logo {
          position: relative;
          left: 490px;
      }
.welcome {
    max-width: 365px;
    position: relative;
    top: 125px;
    left: 550px;
}
.hero {
    position: relative;
    max-width: 100%;
    left: 900px;
    bottom:190px;
}

.wrapper {
  min-height: 100%;
  min-width: 100%;
  background-color: #fcb6ca;
  position:fixed;
}
