/*===========================================================


Universal Styling


==========================================================*/

* {
  margin:0;
  padding:0;
  border:0;
}

body {
  background-color:#a57e69;
}


h1 {
  font: 36px lato, sans-serif;
  color: #fcb6ca;
}

p {
  font: bold 18px lato, sans-serif;
  color: white;
}

.signature {
  font: bold 28px adobe-handwriting-ernie, sans-serif;
  color: #fcb6ca;
  padding: 10px;
  float: right;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

/*===========================================================

Header Styling

==========================================================*/

header {
    padding: 10px;
    background-color: #88634f;
    border-bottom: 5px solid #ab846f;
}

header .container {
    max-width: 1000px;
    margin: 0 auto;
}

header nav {
    display: inline-block;
    width: 65%;
    color: #ffffff;
    position: relative;
    top: -35px;
    padding-left: 45px;
    box-sizing: border-box;
}

header nav li {
  display: inline-block;
  margin: 0 15px;
  font: bolder 16px termina, sans-serif;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

nav li a:hover {
  color: #fcb6ca;
}

nav li a {
  color:#ffffff;
  text-decoration: none;
}

.logo-container {
    display: inline-block;
    width: 30%;
    position: relative;
}

.bolt {
    position: absolute;
    left: 134px;
    top: 5px;
}

/*===========================================================

Home Page Styling

==========================================================*/

.container section {
    margin: 55px 0 90px 0;
    height: 398px;
}

.current {
  color: #fcb6ca;
}


.welcome {
  max-width: 375px;
}

.first {
  margin-bottom: 10px;
  font-size: 43px;
}

.welcome-content {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.hero {
    display: inline-block;
    width: 49%;
}

.wrapper {
  min-height: 100%;
  min-width: 100%;
  background-color: #fcb6ca;
  position: fixed;
}

.box-links {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    top: -130px;
    text-align: center;
}

.box {
  position: relative;
  width: 26%;
  height: 355px;
  border-radius: 20px;
  background: #ffffff linear-gradient(360deg, #ffffff 22%, #fcb6ca 60%);
  filter: drop-shadow(0px 2px 2px #cd91a2);
  margin: 60px 20px 0px 20px;
  display: inline-block;
  bottom: 20px;
}

.box-links a {
    color: #ffe8dd;
    text-decoration: none;
}

.box-links a:hover {
    color: #fcb6ca;
}

img.trio {
    position: relative;
    margin: -90px;
    right: 8px;
}

.box-title {
  text-align: center;
  position: relative;
  bottom: 100px;
  margin-top:30px;
  font: bolder 18px termina, sans-serif;
  text-transform: uppercase;
  color: #ffe8dd;
}
